
/* .main_cont {
  display: flex;
  justify-content: center;
  position: relative;

  width: 100%;
} */

.title {
  font-weight: 600;
  font-size: 2.4rem;

  color: #282824;
}

.sub-title {
  width: 22rem;

  font-weight: 400;
  font-size: 1.2rem;
  line-height: 164%;
  margin-top: 8px;
  
  color: #5A5A57;
}

input {
  width: 22rem;
  height: 45px;
  
  border: 2px solid #B1B1B1;
  background-color: #F9F9F9;
  box-sizing: border-box;
  border-radius: 5px;

  padding-left: 1rem;
  font-weight: 400;
  font-size: 16px;

  position: relative;
  top: 20px;
  
  
  color: #5A5A57;
}

label {
  font-weight: 400;
  font-size: 18px;
  margin-left: 1rem;
  padding-right: 10px;
  padding-left: 10px;

  margin-top: 8px;

  background-color: #F9F9F9;
  position: absolute;
  z-index: 2;

  color: #282824;
}

.inputCont {
  height: 64px;

  margin-top: 21px;
} 

.form_img {
  width: 25px;
  height: 25px;

  position: absolute;
}

.form_btn {
  width: 22rem;
  height: 45px;
  margin-top: 30px;

  background: #43AC87;
  border: none;
  border-radius: 5px;

  font-weight: 400;
  font-size: 1.6rem;
  color: #FFFFFF;
  text-decoration: none;
}

.form {
  margin-top: 25px;
  width: fit-content;
}

.form_cont {
  width: fit-content;
}

.left_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 13.75%;
}

.Quote {
  height: 620px;
  width: 100%;
}

.whole_section {
  display: grid;
  /* justify-items: space-between; */
  grid-template-columns: 1fr 1fr;

  position: relative;

  width: 100%;
  height: 620px;
  overflow-y: hidden;
  /* height: 695px; */
  /* padding: 4.8rem 0rem 0 4rem; */

  overflow-x: hidden;
}

.Quote img {
  position: absolute;
  z-index: -5;
  /* object-fit: cover; */
}

.quote_header {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 164%;
  padding-top: 200px;
  margin-left: 104px;
  color: #FFFFFF;
}

.quote_par {
  width: 80%;
  
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 164%;
  /* or 20px */
  
  
  color: #FFFFFF;
}

.quote_icon {
  width: 50px;
  height: 50px;
  border-radius: 200px;

  background: #C4C4C4;  
}

.quote_identity h4 {
  /* font-weight: 500; */
  font-size: 12px;
  line-height: 164%;
  /* identical to box height, or 20px */

  color: #FFFFFF;
}

.quote_identity p {
  font-weight: 300;
  font-size: 12px;
  line-height: 164%;
  /* identical to box height, or 20px */


  color: #FFFFFF;
}

.quote_lower {
  margin-left: 180px;
  margin-top: 100px;
}

.quote_identity_cont {
  width: 30%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fc-2 {
  display: none;
}

.pagination {
  display: flex;
  width: 22rem;
  justify-content: center;
}

.pagination-btn {
  width: 40px;
  height: 40px;

  border: 2px solid #43AC87;
  background: #F9F9F9;
  border-radius: 10px;
  cursor: pointer;

  font-weight: 400;
  font-size: 21px;
  color: #000000;

  margin: 30px 23px 0px 23px;
}

.active-pag {
  border: none;

  background: #43AC87;
  border-radius: 10px;

  font-weight: 400;
  font-size: 21px;


  color: #FFFFFF;
}

/* DESKTOP RESPONSIVENESS */

@media screen and (min-width: 1300px) {
  .Quote {
    width: 640px;
    justify-self: end;
  }
  .whole_section {
    width: 100%;
  }

  input {
    width: 28rem;
    height: 70px;
  
    padding-left: 1rem;
    font-weight: 400;
    font-size: 24px;
  
    position: relative;
    top: 20px;
  }

  label {
    font-weight: 400;
    font-size: 24px;
    margin-left: 1rem;
    margin-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .form {
    margin-top: 30px;
  }

  .title {
    font-weight: 600;
    font-size: 2.4rem;
    margin-top: 40px;
  
    color: #282824;
  }
  
  .sub-title {
    width: 28rem;
  
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 164%;
    margin-top: 8px;
    
    color: #5A5A57;
  }

  .form_btn {
    width: 28rem;
    height: 45px;
  }

  .pagination {
    display: flex;
    width: 28rem;
    justify-content: center;
  }
}

@media screen and (max-width: 1040px){
  .quote_header {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 164%;
    padding-top: 200px;
    margin-left: 104px;
    color: #FFFFFF;
  }
  
  .quote_par {
    width: 80%;
    
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 164%;
    /* or 20px */
    
    
    color: #FFFFFF;
  }
  
  .quote_icon {
    width: 50px;
    height: 50px;
    border-radius: 200px;
  
    background: #C4C4C4;  
  }

  .quote_identity_cont {
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .quote_identity h4 {
    /* font-weight: 500; */
    font-size: 12px;
    line-height: 164%;
    /* identical to box height, or 20px */
  
    color: #FFFFFF;
  }
  
  .quote_identity p {
    font-weight: 300;
    font-size: 12px;
    line-height: 164%;
    /* identical to box height, or 20px */
  
  
    color: #FFFFFF;
  }
}